@font-face {
font-family: 'tahoma';
src: url('https://turnoffthetv.github.io/fonts/tahoma.ttf') format('truetype');
}

@font-face {
font-family: 'arbutus';
src: url('https://turnoffthetv.github.io/fonts/arbutus.ttf') format('truetype');
}

@font-face {
font-family: 'delius';
src: url('https://turnoffthetv.github.io/fonts/delius.ttf') format('truetype');
}

@font-face {
font-family: 'audiowide';
src: url('https://turnoffthetv.github.io/fonts/audiowide.ttf') format('truetype');
}

/*these probably should be classes*/
#food {font-family:arbutus; color:rgb(132, 100, 0);}
#n {font-family:delius; color:rgb(96, 176, 244);}
#games {font-family:audiowide; color:rgb(217, 0, 142);}

.logo {}

body {background:rgb(66, 133, 244);}
