@font-face {
font-family: 'tahoma';
src: url('https://turnoffthetv.github.io/fonts/tahoma.ttf') format('truetype');
}

@font-face {
font-family: 'arbutus';
src: url('https://turnoffthetv.github.io/fonts/arbutus.ttf') format('truetype');
}

@font-face {
font-family: 'delius';
src: url('https://turnoffthetv.github.io/fonts/delius.ttf') format('truetype');
}

@font-face {
font-family: 'audiowide';
src: url('https://turnoffthetv.github.io/fonts/audiowide.ttf') format('truetype');
}

#food {font-family:"arbutus";}
#n {font-family:delius;}
#games {font-family:audiowide;}

body {background:blue;}
