@font-face {
font-family: 'tahoma';
src: url('fonts/tahoma.ttf') format('truetype');
}

@font-face {
font-family: 'arbutus';
src: url('fonts/arbutus.ttf') format('truetype');
}

@font-face {
font-family: 'delius';
src: url('fonts/delius.ttf') format('truetype');
}

@font-face {
font-family: 'audiowide';
src: url('fonts/audiowide.ttf') format('truetype');
}

#food {font-family:"arbutus";}
#n {font-family:delius;}
#games {font-family:audiowide;}
