@font-face {
font-family: 'Tahoma';
src: url('fonts/tahoma.ttf') format('truetype');
}
@font-face {
font-family: 'start';
src: url('fonts/start.ttf') format('truetype');
}

.header {font-family: start;color:blue;background:rgb(0,255,0);user-select:none;position:fixed;}
.headline {font-family: start;color:blue;}
.strong {font-family: start;color:blue;}
.hiddenlink {color:black;}
head {background:rgb(0,255,0);}
body {font-family: Tahoma;background:rgb(200,200,255);}
a {color:rgb(0,200,200);}
footer {background:rgb(0,255,0);}
